# This is a basic workflow to help you get started with Actions

name: Build and push to Docker Hub

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Rebuild every week
  schedule:
    - cron: "0 22 * * 5"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push apache
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          outputs: |
            type=image,name=ghcr.io/${{ github.repository }}/apache:latest,compression=zstd,push=true
            type=image,name=ghcr.io/${{ github.repository }}/apache:2.4,compression=zstd,push=true
            type=image,name=astehlik/apache:latest,compression=zstd,push=true
            type=image,name=astehlik/apache:2.4,compression=zstd,push=true
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}/apache:cache,compression=zstd,mode=max
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}/apache:cache

  cleanup:
    name: Cleanup Docker Registry
    needs: push_to_registry
    permissions:
      packages: write
    uses: ./.github/workflows/docker_registry_cleanup.yml
    secrets: inherit
